<template>
  <div class="regresarMenu">
    <a href="menu">Ir al Menú</a>
  </div>
  <div class="logOutProveedores">
    <form>
      <button v-on:click="logOut" id="btnlogOut" class="btnlogOut">
        Cerrar sesión
      </button>
    </form>
  </div>
  <div id="ajusteCrudProveedores">
    <form>
      <br />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Id de Compra:</b>
      </label>
      <br />
      <input type="text" id="nombre" name="nombre" v-model="id" />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Fecha Compra:</b>
      </label>
      <br />
      <input
        type="date"
        id="nombre"
        name="nombre"
        v-model="compra.fecha_compra"
      />
      <br />

      <label for="razon_social" style="color: green; font-size: 15pt">
        <b>Cantidad:</b>
      </label>
      <br />
      <input
        type="text"
        id="descripcion"
        name="descripcion"
        v-model="compra.cantidad"
      />
      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Precio:</b>
      </label>
      <br />
      <input
        type="tel"
        id="categoria"
        name="categoria"
        v-model="compra.precio"
      />
      <br />

      <label for="email" style="color: green; font-size: 15pt">
        <b>Total:</b>
      </label>
      <br />
      <p type="text" id="marca" name="marca">
        {{ numeralFormat(compra.precio * compra.cantidad, "$ 0,0") }}
      </p>

      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Nro Factura:</b>
      </label>
      <br />
      <input
        type="tel"
        id="categoria"
        name="categoria"
        v-model="compra.numero_factura"
      />

      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Producto:</b>
      </label>
      <br />
      <select v-model="compra.id_producto">
        <option v-for="pr in lproductos" :key="pr.id" :value="pr.id">
          {{ pr.nombre_producto }}
        </option>
      </select>

      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Proveedor:</b>
      </label>
      <br />
      <select v-model="compra.id_proveedor">
        <option v-for="p in lproveedores" :key="p.id" :value="p.id">
          {{ p.razon_social }}
        </option>
      </select>

      <br />
      <button
        id="btnAgregar"
        class="btnFormAgregar"
        @click.prevent="crearCompra"
      >
        Agregar
      </button>
      <button
        id="btnBuscar"
        class="btnFormBuscar"
        @click.prevent="buscarCompra"
      >
        Buscar
      </button>
    </form>
  </div>
  <br />
  <br />
  <br />
  <div v-if="loaded" id="ajusteTablaCompras">
    <table>
      <caption>
        Compras
      </caption>
      <tr>
        <th>Id Compra</th>
        <th>Fecha Compra</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Nro Factura</th>
        <th>Producto</th>
        <th>Proveedor</th>
        <th>Detalle</th>
      </tr>
      <tr v-for="l in lcompras" :key="l.id">
        <td>{{ l.id }}</td>
        <td>{{ l.fecha_compra }}</td>
        <td>{{ l.cantidad }}</td>
        <td>{{ numeralFormat(l.precio, "$ 0,0") }}</td>
        <td>{{ numeralFormat(l.total, "$ 0,0") }}</td>
        <td>{{ l.numero_factura }}</td>
        <td>{{ nombreProducto(l) }}</td>
        <td>{{ nombreProveedor(l) }}</td>
        <td><button @click="detalleCompra(l)">Detalle</button></td>
      </tr>
    </table>
  </div>
  <div v-else-if="loadedBus" id="ajusteTablaProveedores">
    <table>
      <caption>
        Compras
      </caption>
      <tr>
        <th>Id Compra</th>
        <th>Fecha Compra</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Nro Factura</th>
        <th>Producto</th>
        <th>Proveedor</th>
        <th>Detalle</th>
      </tr>
      <tr>
        <td>{{ lcompras.id }}</td>
        <td>{{ lcompras.fecha_comra }}</td>
        <td>{{ lcompras.cantidad }}</td>
        <td>{{ numeralFormat(lcompras.precio, "$ 0,0") }}</td>
        <td>{{ numeralFormat(lcompras.total, "$ 0,0") }}</td>
        <td>{{ lcompras.numero_factura }}</td>
        <td>{{ nombreProducto(lcompras) }}</td>
        <td>{{ nombreProveedor(lcompras) }}</td>
        <td>
          <button @click="detalleCompra(lcompras)">Detalle</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "compras",

  data: function () {
    return {
      lcompras: [],
      loaded: false,
      loadedBus: false,
      id: 0,
      c_actualizar: 0,
      compra: {
        fecha_compra: "",
        cantidad: 0,
        precio: 0,
        total: 0,
        numero_factura: 0,
        id_producto: 0,
        id_proveedor: 0,
      },
      inventario: {
        id_inventario: 0,
        cantidad: 0,
        id_producto: 0,
      },
      lproductos: [
        {
          id: 0,
          nombre_producto: "",
          descripcion: "",
          categoria: "",
          marca: "",
        },
      ],
      lproveedores: [
        {
          id: 0,
          nit: "",
          razon_social: "",
          telefono: 0,
          correo: "",
        },
      ],
    };
  },

  methods: {
    getData() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/compras/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lcompras = result.data;
          this.loaded = true;
          this.loadedBus = false;
          this.compra.fecha_compra = "";
          this.compra.cantidad = 0;
          this.compra.precio = 0;
          this.compra.total = 0;
          this.compra.numero_factura = 0;
          this.id = 0;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    getProductos() {
      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/productos/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproductos = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    getProveedores() {
      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/proveedores/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproveedores = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    nombreProducto(data) {
      for (let li = 0; li < this.lproductos.length; li++) {
        if (this.lproductos[li].id == data.id_producto) {
          return this.lproductos[li].nombre_producto;
        }
      }
      return data.id_producto;
    },

    nombreProveedor(data) {
      for (let li = 0; li < this.lproveedores.length; li++) {
        if (this.lproveedores[li].id == data.id_proveedor) {
          return this.lproveedores[li].razon_social;
        }
      }
      return data.id_proveedor;
    },

    detalleCompra(data) {
      this.compra.fecha_compra = data.fecha_compra;
      this.compra.cantidad = data.cantidad;
      this.compra.precio = data.precio;
      this.compra.total = data.total;
      this.compra.numero_factura = data.numero_factura;
      this.id = data.id;
      this.compra.id_producto = data.id_producto;
      this.compra.id_proveedor = data.id_proveedor;
    },

    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "proveedores" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    crearCompra() {
      let token = localStorage.getItem("token_access");
      this.compra.total = this.compra.precio * this.compra.cantidad;
      let dataCompra = {
        fecha_compra: this.compra.fecha_compra,
        cantidad: this.compra.cantidad,
        precio: this.compra.precio,
        total: this.compra.total,
        numero_factura: this.compra.numero_factura,
        id_producto: this.compra.id_producto,
        id_proveedor: this.compra.id_proveedor,
      };

      axios
        .post(
          "https://tienda-geli.herokuapp.com/geliapp/compras/",
          dataCompra,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          alert("Compra exitosa");
          this.obtenerCantidad(result.data.cantidad, result.data.id_producto);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo al ingresar compra.");
        });
    },

    actualizarInventario(cantidad, id_producto) {
      let token = localStorage.getItem("token_access");
      let dataInventario = {
        id_producto: id_producto,
        cantidad: cantidad,
      };

      axios
        .put(
          `https://tienda-geli.herokuapp.com/geliapp/inventario/${dataInventario.id_producto}`,
          dataInventario,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Inventario actualizado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la actualización.");
        });
    },

    obtenerCantidad(cantidad, id_producto) {
      let token = localStorage.getItem("token_access");

      axios
        .get(
          `https://tienda-geli.herokuapp.com/geliapp/inventario/${id_producto}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          cantidad += result.data.cantidad;
          this.actualizarInventario(cantidad, id_producto);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la obtención del inventario.");
        });
    },

    actualizarCompra() {
      let token = localStorage.getItem("token_access");
      let dataProducto = {
        nombre_producto: this.producto.nombre_producto,
        descripcion: this.producto.descripcion,
        categoria: this.producto.categoria,
        marca: this.producto.marca,
      };

      axios
        .put(
          `https://tienda-geli.herokuapp.com/geliapp/productos/${this.id}`,
          dataProducto,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Producto actualizado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la actualización.");
        });
    },

    eliminarCompra() {
      let token = localStorage.getItem("token_access");
      axios
        .delete(
          `https://tienda-geli.herokuapp.com/geliapp/compras/${this.id}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Compra eliminada exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la eliminación.");
        });
    },

    buscarCompra() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/compras/${this.id}`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lcompras = result.data;
          this.loaded = false;
          this.loadedBus = true;
        })
        .catch((error) => {
          if (error.response.status == "400") alert("Compra no encontrada.");
        });
    },
  },

  created() {
    this.getProductos();
    this.getProveedores();
    this.getData();
  },
};
</script>
