<template>
  <div class="regresarMenu">
    <a href="menu">Ir al Menú</a>
  </div>
  <div class="logOutProveedores">
    <form>
      <button v-on:click="logOut" id="btnlogOut" class="btnlogOut">
        Cerrar sesión
      </button>
    </form>
  </div>
  <div id="ajusteCrudProveedores">
    <form>
      <br />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Id:</b>
      </label>
      <br />
      <input type="text" id="nombre" name="nombre" v-model="id" />
      <br />
      <button
        id="btnBuscar"
        class="btnFormBuscar"
        @click.prevent="buscarInventario"
      >
        Buscar
      </button>
    </form>
  </div>
  <br />
  <br />
  <br />
  <div v-if="loaded" id="ajusteTablaProveedores">
    <table>
      <caption>
        Productos
      </caption>
      <tr>
        <th>Id Inventario</th>
        <th>Producto</th>
        <th>Cantidad</th>
      </tr>
      <tr v-for="l in linventario" :key="l.id">
        <td>{{ l.id }}</td>
        <td>{{ nombreProducto(l) }}</td>
        <td>{{ l.cantidad }}</td>
      </tr>
    </table>
  </div>
  <div v-else-if="loadedBus" id="ajusteTablaProveedores">
    <table>
      <caption>
        Productos
      </caption>
      <tr>
        <th>Id Producto</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
      <tr>
        <td>{{ linventario.id }}</td>
        <td>{{ nombreProducto(linventario) }}</td>
        <td>{{ linventario.cantidad }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "productos",

  data: function () {
    return {
      linventario: [],
      lproductos: [
        {
          id: 0,
          nombre_producto: "",
          descripcion: "hola",
          categoria: "",
          marca: "",
        },
      ],
      loaded: false,
      loadedBus: false,
      id: 0,
      nProducto: "",
      inventario: {
        id_producto: 0,
        cantidad: 0,
      },
    };
  },

  methods: {
    getData() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/inventario/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.linventario = result.data;
          this.loaded = true;
          this.loadedBus = false;
          this.id = 0;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    getProductos() {
      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/productos/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproductos = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "productos" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    nombreProducto(data) {
      for (let li = 0; li < this.lproductos.length; li++) {
        if (this.lproductos[li].id == data.id_producto) {
          return this.lproductos[li].nombre_producto;
        }
      }
      return data.id_producto;
    },

    buscarInventario() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(
          `https://tienda-geli.herokuapp.com/geliapp/inventario/${this.id}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          this.linventario = result.data;
          this.loaded = false;
          this.loadedBus = true;
        })
        .catch((error) => {
          if (error.response.status == "400")
            alert("Inventario no encontrado.");
        });
    },
  },

  created() {
    this.getProductos();
    this.getData();
  },
};
</script>
