<template>
  <div class="regresarMenu">
    <a href="menu">Ir al Menú</a>
  </div>
  <div class="logOutProveedores">
    <form>
      <button v-on:click="logOut" id="btnlogOut" class="btnlogOut">
        Cerrar sesión
      </button>
    </form>
  </div>
  <div id="ajusteCrudProveedores">
    <form>
      <br />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Id de Producto:</b>
      </label>
      <br />
      <input type="text" id="nombre" name="nombre" v-model="id" />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Nombre:</b>
      </label>
      <br />
      <input
        type="text"
        id="nombre"
        name="nombre"
        v-model="producto.nombre_producto"
      />
      <br />

      <label for="razon_social" style="color: green; font-size: 15pt">
        <b>Descripción:</b>
      </label>
      <br />
      <input
        type="text"
        id="descripcion"
        name="descripcion"
        v-model="producto.descripcion"
      />
      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Categoría:</b>
      </label>
      <br />
      <input
        type="text"
        id="categoria"
        name="categoria"
        v-model="producto.categoria"
      />
      <br />

      <label for="email" style="color: green; font-size: 15pt">
        <b>Marca:</b>
      </label>
      <br />
      <input 
        type="text" 
        id="marca" 
        name="marca" 
        v-model="producto.marca" />
      <br />
      <button
        id="btnAgregar"
        class="btnFormAgregar"
        @click.prevent="crearProducto"
      >
        Agregar
      </button>
      <button
        id="btnActualizar"
        class="btnFormAgregar"
        @click.prevent="actualizarProducto"
      >
        Actualizar
      </button>
      <br />
      <button
        id="btnBuscar"
        class="btnFormBuscar"
        @click.prevent="buscarProducto"
      >
        Buscar
      </button>
      <button
        id="btnEliminar"
        class="btnFormBuscar"
        @click.prevent="eliminarProducto"
      >
        Eliminar
      </button>
    </form>
  </div>
  <br />
  <br />
  <br />
  <div v-if="loaded" id="ajusteTablaProveedores">
    <table>
      <caption>
        Productos
      </caption>
      <tr>
        <th>Id Producto</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Detalle</th>
      </tr>
      <tr v-for="l in lproductos" :key="l.id">
        <td>{{ l.id }}</td>
        <td>{{ l.nombre_producto }}</td>
        <td>{{ l.descripcion }}</td>
        <td>{{ l.categoria }}</td>
        <td>{{ l.marca }}</td>
        <td><button @click="detalleProducto(l)">Detalle</button></td>
      </tr>
    </table>
  </div>
  <div v-else-if="!loaded" id="ajusteTablaProveedores">
    <table>
      <caption>
        Productos
      </caption>
      <tr>
        <th>Id Producto</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Detalle</th>
      </tr>
      <tr>
        <td>{{ lproductos.id }}</td>
        <td>{{ lproductos.nombre_producto }}</td>
        <td>{{ lproductos.descripcion }}</td>
        <td>{{ lproductos.categoria }}</td>
        <td>{{ lproductos.marca }}</td>
        <td>
          <button @click="detalleProducto(lproductos)">Detalle</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "productos",

  data: function () {
    return {
      lproductos: [],
      loaded: false,
      id: 0,
      inventario: {
        cantidad: 0,
        id_producto: 0,
      },
      producto: {
        nombre_producto: "",
        descripcion: "",
        categoria: 0,
        marca: "",
      },
    };
  },

  methods: {
    getData() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/productos/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproductos = result.data;
          this.loaded = true;
          this.producto.nombre_producto = "";
          this.producto.descripcion = "";
          this.producto.categoria = "";
          this.producto.marca = "";
          this.id = 0;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    detalleProducto(data) {
      this.producto.nombre_producto = data.nombre_producto;
      this.producto.descripcion = data.descripcion;
      this.producto.categoria = data.categoria;
      this.producto.marca = data.marca;
      this.id = data.id;
    },

    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "productos" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    crearProducto() {
      let token = localStorage.getItem("token_access");
      let dataProducto = {
        nombre_producto: this.producto.nombre_producto,
        descripcion: this.producto.descripcion,
        categoria: this.producto.categoria,
        marca: this.producto.marca,
      };

      axios
        .post(
          "https://tienda-geli.herokuapp.com/geliapp/productos/",
          dataProducto,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          this.inventario.id_producto = result.data.id;
          alert("Producto creado exitosamente");
          this.crearInventario();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo al crear el Producto.");
        });
    },

    crearInventario() {
      let token = localStorage.getItem("token_access");
      let dataInventario = {
        id_producto: this.inventario.id_producto,
        cantidad: this.inventario.cantidad,
      };

      axios
        .post(
          "https://tienda-geli.herokuapp.com/geliapp/inventario/",
          dataInventario,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Producto creado exitosamente en Inventario");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo al crear el Inventario.");
        });
    },

    actualizarProducto() {
      let token = localStorage.getItem("token_access");
      let dataProducto = {
        nombre_producto: this.producto.nombre_producto,
        descripcion: this.producto.descripcion,
        categoria: this.producto.categoria,
        marca: this.producto.marca,
      };

      axios
        .put(
          `https://tienda-geli.herokuapp.com/geliapp/productos/${this.id}`,
          dataProducto,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Producto actualizado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la actualización.");
        });
    },

    eliminarProducto() {
      let token = localStorage.getItem("token_access");

      axios
        .delete(
          `https://tienda-geli.herokuapp.com/geliapp/productos/${this.id}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Producto eliminado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la eliminación.");
        });
    },

    buscarProducto() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/productos/${this.id}`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproductos = result.data;
          this.loaded = false;
        })
        .catch((error) => {
          if (error.response.status == "400") alert("Producto no encontrado.");
        });
    },
  },

  created() {
    this.getData();
  },
};
</script>
