<template>
  <div class="regresarMenu">
    <a href="menu">Ir al Menú</a>
  </div>
  <div class="logOutProveedores">
    <form>
      <button v-on:click="logOut" id="btnlogOut" class="btnlogOut">
        Cerrar sesión
      </button>
    </form>
  </div>
  <div id="ajusteCrudProveedores">
    <form>
      <br />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Id:</b>
      </label>
      <br />
      <input type="text" id="nit" name="nit" v-model="id" />
      <br />
      <label for="nit" style="color: green; font-size: 15pt">
        <b>Nit:</b>
      </label>
      <br />
      <input 
        type="text" 
        id="nit" 
        name="nit" 
        v-model="proveedor.nit" />
      <br />

      <label for="razon_social" style="color: green; font-size: 15pt">
        <b>Razón Social:</b>
      </label>
      <br />
      <input
        type="text"
        id="razon_social"
        name="razon_social"
        v-model="proveedor.razon_social"
      />
      <br />

      <label for="telefono" style="color: green; font-size: 15pt">
        <b>Teléfono:</b>
      </label>
      <br />
      <input
        type="tel"
        id="telefono"
        name="telefono"
        v-model="proveedor.telefono"
      />
      <br />

      <label for="email" style="color: green; font-size: 15pt">
        <b>Email:</b>
      </label>
      <br />
      <input
        type="correo"
        id="correo"
        name="correo"
        v-model="proveedor.correo"
      />
      <br />
      <button
        id="btnAgregar"
        class="btnFormAgregar"
        @click.prevent="crearProveedor"
      >
        Agregar
      </button>
      <button
        id="btnActualizar"
        class="btnFormAgregar"
        @click.prevent="actualizarProveedor"
      >
        Actualizar
      </button>
      <br />
      <button
        id="btnBuscar"
        class="btnFormBuscar"
        @click.prevent="buscarProveedor"
      >
        Buscar
      </button>
      <button
        id="btnEliminar"
        class="btnFormBuscar"
        @click.prevent="eliminarProveedor"
      >
        Eliminar
      </button>
    </form>
  </div>
  <br />
  <br />
  <br />
  <div v-if="loaded" id="ajusteTablaProveedores">
    <table>
      <caption>
        Proveedores
      </caption>
      <tr>
        <th>Id Proveedor</th>
        <th>Nit</th>
        <th>Razón social</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Detalle</th>
      </tr>
      <tr v-for="l in lproveedores" :key="l.id">
        <td>{{ l.id }}</td>
        <td>{{ l.nit }}</td>
        <td>{{ l.razon_social }}</td>
        <td>{{ l.telefono }}</td>
        <td>{{ l.correo }}</td>
        <td><button @click="detalleProveedor(l)">Detalle</button></td>
      </tr>
    </table>
  </div>
  <div v-else-if="!loaded" id="ajusteTablaProveedores">
    <table>
      <caption>
        Proveedores
      </caption>
      <tr>
        <th>Id Proveedor</th>
        <th>Nit</th>
        <th>Razón social</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Detalle</th>
      </tr>
      <tr>
        <td>{{ lproveedores.id }}</td>
        <td>{{ lproveedores.nit }}</td>
        <td>{{ lproveedores.razon_social }}</td>
        <td>{{ lproveedores.telefono }}</td>
        <td>{{ lproveedores.correo }}</td>
        <td>
          <button @click="detalleProveedor(lproveedores)">Detalle</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "proveedores",

  data: function () {
    return {
      lproveedores: [],
      loaded: false,
      id: 0,
      proveedor: {
        nit: "",
        razon_social: "",
        telefono: 0,
        correo: "",
      },
    };
  },

  methods: {
    getData() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(`https://tienda-geli.herokuapp.com/geliapp/proveedores/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.lproveedores = result.data;
          this.loaded = true;
          this.proveedor.nit = "";
          this.proveedor.razon_social = "";
          this.proveedor.telefono = 0;
          this.proveedor.correo = "";
          this.id = 0;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    detalleProveedor(data) {
      this.proveedor.nit = data.nit;
      this.proveedor.razon_social = data.razon_social;
      this.proveedor.telefono = data.telefono;
      this.proveedor.correo = data.correo;
      this.id = data.id;
    },

    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "proveedores" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    crearProveedor() {
      let token = localStorage.getItem("token_access");
      let dataProveedor = {
        nit: this.proveedor.nit,
        razon_social: this.proveedor.razon_social,
        telefono: this.proveedor.telefono,
        correo: this.proveedor.correo,
      };

      axios
        .post(
          "https://tienda-geli.herokuapp.com/geliapp/proveedores/",
          dataProveedor,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Proveedor creado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en el registro.");
        });
    },

    actualizarProveedor() {
      let token = localStorage.getItem("token_access");
      let dataProveedor = {
        nit: this.proveedor.nit,
        razon_social: this.proveedor.razon_social,
        telefono: this.proveedor.telefono,
        correo: this.proveedor.correo,
      };

      axios
        .put(
          `https://tienda-geli.herokuapp.com/geliapp/proveedores/${this.id}`,
          dataProveedor,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Proveedor actualizado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la actualización.");
        });
    },

    eliminarProveedor() {
      let token = localStorage.getItem("token_access");

      axios
        .delete(
          `https://tienda-geli.herokuapp.com/geliapp/proveedores/${this.id}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then(() => {
          alert("Proveedor eliminado exitosamente");
          this.getData();
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en la eliminación.");
        });
    },

    buscarProveedor() {
      console.log(this.id);
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      let token = localStorage.getItem("token_access");

      axios
        .get(
          `https://tienda-geli.herokuapp.com/geliapp/proveedores/${this.id}`,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          this.lproveedores = result.data;
          console.log(this.lproveedores);
          this.loaded = false;
        })
        .catch((error) => {
          if (error.response.status == "400") alert("Proveedor no encontrado.");
        });
    },
  },

  created() {
    this.getData();
  },
};
</script>
