<template>
  <div id="app">
    <div class="plantilla-fondo">
      <router-view v-on:completedLogIn="completedLogIn"> </router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "menu" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    loadHome: function () {
      this.$router.push({ name: "home" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Bienvenido a Tienda Geli");
      this.verifyAuth();
    },
  },

  created: function () {
    this.verifyAuth();
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto";
}

.plantilla-fondo {
  background-image: url(https://i.imgur.com/R616cvG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 1366px;
  height: 768px;
}

/*ubicacion del formulario en relacion a la pagina web*/
.contenedor_login {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: absolute;
  top: 309px;
  left: 490px;
}
/*Diseño Cajas del formulario de login*/
.contenedor_login form {
  width: 100%;
  padding: 70px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}

/*Diseño titulo iniciar sesion*/
.contenedor_login form h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  color: #1c691c;
  border-radius: 20px;
}

/*Diseño Cajas de texto*/
.contenedor_login form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}
/*Diseño boton entrar*/
.contenedor_login form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: rgb(28, 105, 28);
  color: white;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  box-shadow: 0 12px 16px 0 RGBA (0, 0, 0, 0.24),
    0 17px 50px 0 RGBA (0, 0, 0, 0.19);
  border-radius: 12px;
}

/*---------------------------------------Diseño del MENU----------------------------------*/

/*ubicacion del menu en relacion a la pagina web*/
.contenedor_Menu {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: absolute;
  top: 120px;
  left: 580px;
}
/*Diseño titulo: modulos*/
.contenedor_Menu form h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(28, 105, 28);
  border-radius: 20px;
}
/*Diseño de los botones*/
.contenedor_Menu a {
  padding: 15px 50px;
  margin-top: 20px;
  border: none;
  background: #1c691c;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  display: inline-block;
  text-align: center;
  box-shadow: 0 12px 16px 0 RGBA (0, 0, 0, 0.24),
    0 17px 50px 0 RGBA (0, 0, 0, 0.19);
  border-radius: 12px;
  transition-duration: 4s;
}
/*configuracion tamaño estandar de los botones*/
.contenedor_Menu a {
  font-size: 20px;
  width: 200px;
}

/*---------------------------------------Diseño del MODULO INVENTARIO----------------------------------*/

/*diseño cajas de busqueda*/

.contenedor_buscador {
  align-items: center;
  width: 50%;
  position: absolute;
  top: 60px; /*60*/
  left: 355px; /*340*/
  padding: 10px;
}

.cajas_busqueda form input {
  width: 30%;
  margin-top: 6px;
  padding: 3px;
  font-size: 15px;
  outline: none;
  margin: 2px;
}
.cajas_busqueda form button {
  position: absolute;
  left: 60%;
  top: 28pt;
  padding: 5px 40px;
  background-color: #0d500d;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
}

/*Boton ir al menu*/
.regresarMenu a:link,
a:visited {
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  background-color: #0d500d;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 60%;
  top: 65pt;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
}
.regresarMenu a:hover,
a:active {
  background-color: #0d970d;
}

/*Boton Cerrar sesion*/

.logOut form button {
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  background-color: #0d500d;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 80%;
  top: 65pt;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
}

/*------------DISEÑO TABLA INVENTARIO------*/

#AjustePaginaTabla {
  margin: 20px;
  margin-left: 370px;
}
/* 
    Generic Styling, for Desktops/Laptops 
    */
table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid rgb(48, 122, 58);
}
/* Zebra striping */
tr {
  background: #eee;
}

th {
  background: #1c691c;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
  border: 1px solid rgb(48, 122, 48);
}

caption {
  color: #1c691c;
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
}

/*----------------------------------------------TABLA PRODUCTO-------------------------------------*/
#AjusteTablaProductos {
  margin: -88px;
  margin-left: 450px;
}

#AjusteTablaProductos caption {
  color: #1c691c;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  text-align: left;
}

/*------CRUD TABLA PRODUCTO--------*/

#AjusteCrudProductos {
  align-items: center;
  width: 58%;
  position: absolute;
  margin: 40px;
  top: 100px; /*60*/
  left: 100px; /*340*/
  padding: 20px;
}

#AjusteCrudProductos input {
  width: 30%;
  margin-top: 6px;
  padding: 3px;
  font-size: 15px;
  outline: none;
  margin: 2px;
}

#AjusteCrudProductos form button {
  left: 70%;
  top: 17pt;
  padding: 5px 30px;
  background-color: #0d500d;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
}

.logOutProductos form button {
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  background-color: #0d500d;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 70%;
  top: 65pt;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
}

/*--------------------------------------------TABLA PROVEEDORES-------------------------------------------*/
#ajusteTablaProveedores {
  margin-top: 50px;
  margin-left: 470px;
}

#ajusteTablaProveedores caption {
  color: #1c691c;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  text-align: left;
}

#ajusteTablaProveedores table {
  width: 85%;
  border-collapse: collapse;
  border: 1px solid rgb(48, 122, 58);
}
/*------CRUD TABLA PROVEEDORES--------*/

#ajusteCrudProveedores {
  align-items: center;
  width: 58%;
  position: absolute;
  margin: 40px;
  top: 100px;
  left: 90px;
  padding: 20px;
}

#ajusteCrudProveedores input {
  width: 35%;
  margin-top: 6px;
  padding: 3px;
  font-size: 15px;
  outline: none;
  margin: 2px;
}

#ajusteCrudProveedores form button {
  left: 70%;
  top: 17pt;
  margin: 5px;
  padding: 5px 30px;
  background-color: #0d500d;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
}

.logOutProveedores form button {
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  background-color: #0d500d;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 70%;
  top: 65pt;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
}

/*--------------------------------------------TABLA COMPRAS-------------------------------------------*/
#ajusteTablaCompras {
  margin: 70px;
  margin-left: 450px;
}

#ajusteTablaCompras caption {
  color: #1c691c;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  text-align: left;
}

#ajusteTablaCompras table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(48, 122, 58);
}
/*------CRUD TABLA PROVEEDORES--------*/

#ajusteCrudCompras {
  align-items: center;
  width: 58%;
  position: absolute;
  margin: 40px;
  top: 100px; /*60*/
  left: 100px; /*340*/
  padding: 20px;
}

#ajusteCrudCompras input {
  width: 30%;
  margin-top: 6px;
  padding: 3px;
  font-size: 15px;
  outline: none;
  margin: 2px;
}

#ajusteCrudCompras form button {
  left: 70%;
  top: 17pt;
  padding: 5px 30px;
  background-color: #0d500d;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
}

.logOutCompras form button {
  background-image: linear-gradient(to bottom, #30c43c, #0d500d);
  background-color: #0d500d;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 70%;
  top: 65pt;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 12px;
}
</style>
