<template>
  <div class="contenedor_todo">
    <div class="contenedor_login">
      <!--Se realiza un formulario de login-tiendaGeli-->
      <form v-on:submit.prevent="processLogInUser">
        <h2>Iniciar sesión</h2>
        <input type="text" v-model="user.username" placeholder="Username" />
        <input type="password" v-model="user.password" placeholder="Password" />
        <button type="submit" id="btnEntrar" class="btnFormEntrar">
          Entrar
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LogIn",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    processLogInUser: function () {
      axios
        .post("https://tienda-geli.herokuapp.com/login/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.token,
            token_refresh: result.data.refreshtoken,
          };

          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          if (error.response.status == "400")
            alert("Contraseña o usuario incorrectas.");
        });
    },
  },
};
</script>
