<template>
  <div class="contenedor_Menu">
    <form action="" class="formulario_Menu">
      <h2>Módulos</h2>
      <a href="#" @click="inventario">Inventario</a>
      <br />
      <a href="#" @click="productos">Productos</a>
      <br />
      <a href="#" @click="compras">Compras</a>
      <br />
      <a href="#" @click="proveedores">Proveedores</a>
    </form>
  </div>
</template>

<script>
export default {
  name: "menu",

  methods: {
    proveedores: function () {
      this.$router.push({ name: "proveedores" });
    },
    productos: function () {
      this.$router.push({ name: "productos" });
    },
    inventario: function () {
      this.$router.push({ name: "inventario" });
    },
    compras: function () {
      this.$router.push({ name: "compras" });
    },
  },
};
</script>
